<ul nz-menu [nzMode]="'vertical'">
  <li nz-submenu class="aside_nav">
    <p title style="line-height: 40px"> 免费开店 </p>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=261" target="_blank">开店流程</a></span>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=259" target="_blank">产品选择</a></span>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=260" target="_blank">店铺设置</a> </span>
  </li>
  <li nz-submenu class="aside_nav">
    <p title style="line-height: 40px"> 免费引流 </p>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=258" target="_blank">自然搜索 </a></span>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=257" target="_blank">排名爬升</a> </span>  
  </li>
  <li nz-submenu class="aside_nav">
    <p title style="line-height: 40px"> 付费引流 </p>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=254" target="_blank">快速上10分</a></span>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=255" target="_blank">低价引流</a></span>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=256" target="_blank">质量分解读</a></span> 
  </li>

  <li nz-submenu class="aside_nav">
    <p title style="line-height: 40px"> 	店铺视觉 </p>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=253" target="_blank">主图制作</a></span>
    <span title class="aside_subnav"><a href = "http://116.62.58.151:8080/#/CourseDetail?id=252" target="_blank">短视频制作</a></span>
  </li>
</ul>
